{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_CONTRIBUTOR') %}

    {# listing #}
    <div id="liste_contrib_conteneur" class="row">
        <div class="col bloc_page"></div>
        <div class="col-10 bloc_titre_page">
            <h3 id="titre_page">Liste des contributeur :</h3>
        </div>

        <div class="col-2"></div>
        <div class="col-7">
            <div id="liste_contrib_espace" class='conteneur_page'> 
                <div class="card_head">
                    <div  class="page_mid">Liste des competences :</div>
                </div>

                <div class="conteneur_contenue">
                    <ul>
                        <li><a href="listecontributeur_all" class='name_user'>tout les contributeurs</a></li>
                        {% for competences in competenceUnique %} 
                            <li><a href="listecontributeur_{{ competences.nom }}" class='name_user'>{{ competences.nom|replace({"_":' '}) }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-3"></div>

        <div class="col-2"></div>
        <div class="col-7">
            <div class='conteneur_page'>
                <div class="card_head">
                    <div class="page_mid">
                        {% if type == "all" %}
                            Liste des contributeurs :
                        {% else %}  
                            Liste des contributeurs : {{ type|replace({"_":' '}) }}
                        {% endif %}
                    </div>
                </div>

                <div class="conteneur_contenue">
                    {% for contributeur in listecontributeur %} 
                        <a href="pageuser{{ contributeur.id }}" class='name_user'>{{ contributeur.name }}</a> :
                        {% for competence in listecompetence %} 
                            {% if competence.user == contributeur %}
                                {{ competence.competence.nom|replace({"_":' '}) }}    
                            {% endif %}
                        {% endfor %}
                        <br>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-3"></div>

    </div>

{# redirect #}
{% else %}
    <script>
        window.location.href = 'listeblog';
    </script>
{% endif %}
{% endblock %}
