{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

{# listing #}
<div class="example-wrapper">
    <h1>LISTE JEU</h1>

    {% for jeu in listejeu %} 
        <a href="pagejeu{{ jeu.id }}"><span>{{ jeu.titre| raw}}</span> : <span>{{ jeu.datetime|date('d/m/Y H:i') }}</span></a>
        
        {% if app.user %}
            {% if is_granted('ROLE_ADMIN') or jeu.auteur == app.user %}
                <a href="deletepage/jeu/{{ jeu.id }}" >Supprimer</a>
                <a href="updatepage_jeu_{{ jeu.id }}" >Modifier</a>
            {% endif %}
        {% endif %}

        <br>
    {% endfor %}
</div>

{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_CONTRIBUTOR') %}
{# form add jeu #}
<button id="btnFormJeu" class="btn btn-primary" onclick="showFormJeu()">Créer un nouveau Jeu !</button> 
<div id="formJeu" style="display: none">
    {{ form_start(form) }}
        {{ form_row(form.titre, {
            label: 'titre du jeu'
        }) }}
        {{ form_row(form.contenue, {
            label: 'Contenue de la page'
        }) }}
        {{ form_row(form.etat, {
            label: 'etat actuelle'
        }) }}
        {{ form_row(form.image, {
                label: 'images pour page jeu'
        }) }}
        {{ form_row(form.fileWeb, {
                label: 'zip du jeu pour le web'
        }) }}
        {{ form_row(form.fileDl, {
                label: 'zip du jeu téléchargement'
        }) }}
        {{ form_row(form.nomdossier, {
                label: 'nom du dossier dans le zip'
        }) }}
        {{ form_row(form.longueur, {
                label: 'longueur de la fenetre du jeu (en pixel)'
        }) }}
        {{ form_row(form.largeur, {
                label: 'largeur de la fenetre du jeu (en pixel)'
        }) }}
        
        <button type="submit" class="btn">Créer</button>
    {{ form_end(form) }}
</div>
{% endif %}

{% endblock %}

{% block javascripts %}
    <script>
        var visible=false;
        
        function showFormJeu(){
            if (visible==false){
                document.getElementById("formJeu").style.display = "block";
                document.getElementById("btnFormJeu").innerHTML = "Fermer";
                visible=true;
            }else{
                document.getElementById("formJeu").style.display = "none";
                document.getElementById("btnFormJeu").innerHTML = "Créer un nouveau Jeu !";
                visible=false;
            }
        }
    </script>
{% endblock %}
