{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}

<div id="liste_contrib_conteneur" class="row">
    <div class="col bloc_page"></div>
    <div class="col-10 bloc_titre_page">
        <h3 id="titre_page">vous modifier le {{ type }} : {{ page.titre }}</h3>
    </div>

    <div class="col-2"></div>
    <div class="col-7">
        <div class="conteneur_contenue conteneur_update">
            {{ form_start(form) }}
                {{ form_row(form.titre, {
                    label: 'Titre de la page : '
                }) }}
                {{ form_row(form.contenue, {
                    label: 'Contenue de la page : '
                }) }}
                {{ form_row(form.mainimage, {
                    label: 'Image de couverture : '
                }) }}

                {% if type == 'blog' %}
                    {{ form_row(form.type, {
                        label: 'Type : '
                    }) }}
                    {{ form_row(form.jeu, {
                        label: 'Jeu liée a ce blog : '
                    }) }}
                {% endif %}

                {% if type == 'jeu' %}
                    {{ form_row(form.etat, {
                        label: 'Etat actuelle : '
                    }) }}
                    {{ form_row(form.fileWeb, {
                        label: 'Zip du jeu pour le web : '
                    }) }}
                    {{ form_row(form.fileDl, {
                        label: 'Zip du jeu pour téléchargement : '
                    }) }}
                    {{ form_row(form.nomdossier, {
                        label: 'Nom du dossier dans le zip : '
                    }) }}
                    {{ form_row(form.longueur, {
                        label: 'Longueur de la fenetre du jeu (en pixel) : '
                    }) }}
                    {{ form_row(form.largeur, {
                        label: 'Largeur de la fenetre du jeu (en pixel) : '
                    }) }}
                {% endif %}

                {{ form_row(form.image, {
                    label: 'Images : '
                }) }}

                {% if type == 'proto' %}
                    {{ form_row(form.upload, {
                        label: 'Fichiers : '
                    }) }}
                {% endif %}
                
                <button type="submit" class="btn_article2">Modifier</button>
            {{ form_end(form) }}

            {% if images %}
                <br>
                image actuelle :
                <br>
                <div class="row zero_padding">
                    {% for img in images %}
                        <div class="col-6 zero_padding">
                            <img src="data:image/png;base64, {{ img.image }}" style="max-width:100%;max-height:100%">
                            <div class="btn_delete_img_update"><a href="deleteimage_{{ type }}_{{ page.id }}_{{ img.id }}" class="btn_article">Supprimer</a></div>
                            <br>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>

    <div class="col-3"></div>

</div>
{% endblock %}
