{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}

    {% for demande in demandeContrib %}
        {# div qui contien les info de la demande #}
        <div id='infoDemande{{ demande.id }}' class="demande_contrib_info" style="display: none">

            {{ demande.demande|raw }} <br>

            {# affichage image #}
            Images : <br>
            {% for fichier in FichierDemande %}
                {% if fichier.type == 'image' and fichier.requete == demande %}
                    <img src="data:image/png;base64, {{ fichier.image }}" style="max-width:600px;max-height:600px"> <br>
                {% endif %}
            {% endfor %}

            {# affichage fichier #}
            Fichiers : <br>
            {% for fichier in FichierDemande %}
                {% if fichier.type == 'fichier' and fichier.requete == demande %}
                    {{ fichier.lien }} : <a href="demande/{{ fichier.lien }}" download='{{ fichier.lien }}' class="btn_article">télécharger</a> <br>
                {% endif %}
            {% endfor %}

            <br>
            <a href="reponce_demande_1_{{ demande.id }}" class="btn_article2">Accepter la demande</a><br>
            <a href="reponce_demande_2_{{ demande.id }}" class="btn_article2">Refuser la demande</a><br>
            <button onclick="showDemande({{ demande.id }})" class="btn_article2">Fermer</button>                                   
        </div>
    {% endfor %}

    <div id="liste_contrib_conteneur" class="row">
        <div class="col bloc_page">
        </div>
        <div class="col-10 bloc_titre_page">
            <h3 id="titre_page">Page de l'utilisateur : {{ user.name }}</h3>
        </div>

        {# messagerie et liste de demande contrib #}
        <div class="col-2">
            {# messagerie #}
            {% if app.user %}
                {# user sur sa propre page #}
                {% if user.id == app.user.id %}
                    <div class='conteneur_page conteneur_left_user'>
                        <div class="titre_lien2">Conversation :</div>          
                    </div>
                    <div class="conteneur_contenue conteneur_left_user">
                        {% for personne in personnes %} 
                            <a href="pagemessagerie{{ personne.id }}" class="name_user"><span> {{ personne.name }} </span></a><br>
                        {% endfor %}
                    </div>
                {# user sur une autre page #}
                {% else %}
                    <a href="pagemessagerie{{ user.id }}"><button class="btn_article">envoyer un message privée a {{ user.name }}</button></a><br><br>
                {% endif %}
            {% endif %}

            {# liste demande devenir contrib #}
            {% if user == app.user and user.roles[0] == 'ROLE_ADMIN' %}
                <div class='conteneur_page conteneur_left_user'>
                    <div class="titre_lien2">Demandes pour devenir contributeur :</div> 
                </div>
                <div class="conteneur_contenue conteneur_left_user">
                    {% for demande in demandeContrib %}
                        

                        {{ demande.user.name }} : 
                        {# btn pour montrer les infos d'une div/personne #}
                        <button id='btnShowDemande{{ demande.id }}' onclick="showDemande({{ demande.id }})" class="btn_article2">
                            Voire la demande
                        </button><br>
                    
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        {# info user et liste blog/jeu participer #}
        <div class="col-7">
            <div class='conteneur_page'>
                <div class="titre_lien2">
                    Info sur l'utilisateur :
                </div>

                <div class="conteneur_contenue">
                    {% if user.roles[0] == 'ROLE_ADMIN'%}
                        Roles : Admin
                    {% elseif user.roles[0] == 'ROLE_CONTRIBUTOR'%} 
                        Roles : Contributeur
                    {% else %}
                        Roles : Utilisateur
                    {% endif %}

                    <div>inscrit depuis le {{ user.dateinscrip|date('d/m/Y') }}</div>

                    <br>
                    {% if user.description %}
                        {{ user.description|raw }}
                    {% endif %}

                    {# si sa propre page, update info #}
                    {% if user == app.user %}
                        <div id="formUpdate" style="display: none">
                            {{ form_start(form) }}
                                {{ form_row(form.name, {
                                    label: "Nom d'utilisateur"
                                }) }}
                                {{ form_row(form.description, {
                                    label: "Description de l'utilisateur"
                                }) }}
                                {{ form_row(form.avatar, {
                                    label: 'Avatar'
                                }) }}
                                
                                <button type="submit" class="btn_article2">Mettre à jour</button>
                                <button id="btnFormUpdate2" class="btn_article2" onclick="showFormUpdate()" type="button">Fermer</button> 
                            {{ form_end(form) }}
                        </div>
                        <button id="btnFormUpdate" class="btn_article2 zero_marge" onclick="showFormUpdate()">Mettre à jour votre profil</button>
                        <br><br>
                    {% endif %}

                    <div class="row">
                        <div class="col-6 zero_padding">
                            {# liste des blogs #}
                            {% if blogs %}
                                <div class="titre_lien2 bloc_liste_blog_user">
                                    liste des blogs écrit :
                                </div>
                                {% for blog in blogs %}
                                    <div class="liste_blog_page_user">
                                        <a href="pageblog{{ blog.id }}" class="name_user">{# le {{ blog.datetime|date('d/m/Y H:i') }} : #}{{ blog.titre }}</a>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div class="col-6 zero_padding">
                            {# liste des jeux #}
                            {% if contribs %}
                                <div class="titre_lien2 bloc_liste_jeu_user">
                                    a participer sur ces jeux :
                                </div>
                                <div id="page_user_liste_jeu">
                                    {% for contrib in contribs %}
                                        <div class="liste_contrib_page_user">
                                            <a href="pagejeu{{ contrib.jeu.id }}" class="name_user">{{ contrib.jeu.titre }} / {{ contrib.jeu.etat }}</a>
                                        </div>
                                    {% endfor %}
                                </div> 
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
        </div>

        {# avatar et competence #}
        <div class="col-3 conteneur_right_user">
            <div class='conteneur_page'>                 
                    {% if user == app.user %}
                        <img src="data:image/png;base64,{{ base64 }}" style="width:100%;" />
                    {% else %}
                        <img src="data:image/png;base64,{{ user.avatar }}" style="width:100%" />
                    {% endif %}

                {# liste des competence de user #}
                {% if user.roles[0] == 'ROLE_ADMIN' or user.roles[0] == 'ROLE_CONTRIBUTOR' %}
                    <div class="titre_lien2">Liste des compétences :</div>
                    <div class="conteneur_contenue"><br>
                        {% if competences %}
                            {% for competence in competences %} 
                                <div class="div_competence_user">
                                    {{ competence.competence.nom|replace({"_":' '}) }}
                                    {% if user == app.user %}
                                        <a href="updatecompetence_{{ competence.id }}" class='btn_article2'>Supprimer la compétence</a><br>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        {% else %}
                            - Aucune compétence enregistrait pour le moment<br>
                        {% endif %}
                    
                        {# ajouter competence #}
                        {% if user == app.user %}
                        <form id="formCom" action="competence" style="display: none">
                            <select name="newCompetence">
                                <option value="null" disabled selected>Choisir une compétence à ajouter</option>
                                {% for typecompetence in typeCompetences %} 

                                    {% set dejaCompetent = false %}

                                    {% for competence in competences %} 
                                        {% if typecompetence == competence.competence %}
                                            {% set dejaCompetent = true %}
                                        {% endif %}
                                    {% endfor %}

                                    {% if dejaCompetent == false %}
                                        <option value={{ typecompetence.id }}>{{ typecompetence.nom|replace({"_":' '}) }}</option>
                                    {% endif %}

                                {% endfor %}
                            </select>
                            <br><button class="btn_article2">Ajouter</button> 
                        </form>   
                        <button id="btnFormCom" class="btn_article2" onclick="showFormCom()">Ajouter une compétence</button>
                        {% endif %}
                    </div>
                {% endif %}
            </div>    
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        var visible=false;
        var visible2=false;
        var visible3=false;
        
        function showFormCom(){
            if (visible==false){
                document.getElementById("formCom").style.display = "block";
                document.getElementById("btnFormCom").innerHTML = "Fermer";
                visible=true;
            }else{
                document.getElementById("formCom").style.display = "none";
                document.getElementById("btnFormCom").innerHTML = "Ajouter une compétence";
                visible=false;
            }
        }

        function showFormUpdate(){
            if (visible3==false){
                document.getElementById("formUpdate").style.display = "block";
                document.getElementById("background_form").style.display = "block";
                document.getElementById("btnFormUpdate").innerHTML = "Fermer";
                visible3=true;
            }else{
                document.getElementById("formUpdate").style.display = "none";
                document.getElementById("background_form").style.display = "none";
                document.getElementById("btnFormUpdate").innerHTML = "Mettre à jour votre profil";
                visible3=false;
            }
        }

        function showDemande($id){
            if (visible2==false){
                document.getElementById('infoDemande'+$id).style.display = 'block';
                document.getElementById("background_form").style.display = "block";
                document.body.scrollIntoView({behavior: 'smooth', block: 'start'});
                //document.getElementById('btnShowDemande'+$id).innerHTML = "Fermer";

                visible2=true;
            }else{
                document.getElementById('infoDemande'+$id).style.display = 'none';
                document.getElementById("background_form").style.display = "none";
                document.body.scrollIntoView({behavior: 'smooth', block: 'start'});
                //document.getElementById('btnShowDemande'+$id).innerHTML = "Voire la demande";
                
                visible2=false;
            }
        }
    </script>
{% endblock %}
