{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h3>PAGE JEU</h3>

    le {{ jeu.datetime|date('d/m/Y H:i') }}
    <br>
    <h1>{{ jeu.titre| raw }}</h1>
    <br>
    {{ jeu.contenue| raw }}
    <br>

    <div>
    {% for img in images %}
        <img src="data:image/png;base64, {{ img.image }}" style="max-width:600px;max-height:600px;width:100%;height:100%">
        <br><br>
    {% endfor %}
    </div>

    <br><br><br>

    {% if listecontrib %}
    {# contributeur #}
        <h3>Liste des contributeurs a ce jeu :</h3>
        {% for contrib in listecontrib %}
            <a href="pageuser{{ contrib.user.id }}">{{ contrib.user.name }}</a>

            {% set testimage = contrib.user.avatar %}

            {% if testimage %}
                <img src="data:image/png;base64,{{ testimage }}" width='60px' height='60px' />
            {% endif %}

            <br><br>
        {% endfor %}
    {% endif %}

    <br><br><br>

    {% if listeblog %}
        {# blog liée #}
        <h3>Article liée à ce jeu :</h3>
        {% for blog in listeblog %}
            le {{ blog.datetime|date('d/m/Y H:i') }} : <a href="pageblog{{ blog.id }}">{{ blog.titre }}.</a> type : {{ blog.type }}
            <br><br>
        {% endfor %}
    {% endif %}  

    <br><br><br>

    {# commentaire #}
    <h3>Commentaire :</h3>
    {% for com in comments %}
        le {{ com.datetime|date('d/m/Y H:i') }} <a href="pageuser{{ com.envoyer.id }}">{{ com.envoyer.name }}</a> dit : {{ com.contenue }}
        <br><br>
    {% endfor %}

    {% if app.user %}
        <button id="btnFormCom" class="btn btn-light" onclick="showFormCom()">laisser un commentaire</button> 

        <form id="formCom" action="commentaire" style="display: none">
            <textarea name="textComment" class="form-control" rows="3" placeholder="plouf"></textarea>
            
            <input type="hidden" name="type" value="jeu"> 
            <input type="hidden" name="pageid" value="{{ jeu.id }}"> 
            
            <br><button class="btn btn-light">envoyer</button> 
        </form>   
    {% endif %}  

</div>
{% endblock %}

{% block javascripts %}
    <script>
        var visible=false;
        
        function showFormCom(){
            if (visible==false){
                document.getElementById("formCom").style.display = "block";
                visible=true;
            }else{
                document.getElementById("formCom").style.display = "none";
                visible=false;
            }
        }
    </script>
{% endblock %}
