{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_CONTRIBUTOR') %}

    <div class="row">

        {% set image_proto = proto.image %}
        {# image bannier #}
        <img src="data:image/png;base64, {{ image_proto }}" class="main_image">

        {# titre #}
        <div class="col-2 bloc_page">
        </div>
        <div class="col-10 bloc_titre_page">
            <h3 id="titre_page">Page de prototype :</h3>
        </div>

        <div class="col-2">
            <div class="conteneur_image_full">
                <img src="data:image/png;base64, {{ image_proto }}" class="image_lien_jeu">
            </div>
        </div>

        {# conteneur main page #}
        <div class="col-7">
            <div class='conteneur_page'> 

                {# proto titre #}
                <div class="card_head">
                    <div class="page_date">créé par <a href="pageuser{{ proto.auteur.id }}" class='name_user2'>{{ proto.auteur.name }}</a> 
                    le {{ proto.datetime|date('d/m/Y H:i') }}</div>
                    <div class="page_title">{{ proto.titre|raw }}</div>
                </div>
                
                {# proto contenue #}
                <div class="conteneur_contenue">
                    {{ proto.contenue|raw }}

                    {# affichage image #} 

                    <div class="row ">
                        {% for img in images %}
                            <div class="col-4 text-center display_image">
                                <img src="data:image/png;base64, {{ img.image }}" style="max-width:100%;max-height:100%">
                            </div>
                        {% endfor %}
                    </div>

                    {% if listecontrib %}
                        {# contributeur #}
                        <div id="conteneur_contrib">
                            <h3>Liste des contributeurs :</h3>
                            {% set contributeurProjet = false %}
                            <ul>
                            {% for contrib in listecontrib %}
                                <li><a href="pageuser{{ contrib.user.id }}" class="name_user">{{ contrib.user.name }}</a></li>

                                {% set testimage = contrib.user.avatar %}

                                {# {% if testimage %}
                                    <img src="data:image/png;base64,{{ testimage }}" width='60px' height='60px' />
                                {% endif %} #}

                                {# rejoindre le projet si pas deja dedant #}
                                {% if contrib.user == app.user %}
                                    {% set contributeurProjet = true %}
                                {% endif %}
                            {% endfor %}
                            </ul>
                            {% if contributeurProjet == false %}
                                devenir contributeur sur le projet : <a href="newcontrib{{ proto.id }}" class="name_user">{{ proto.titre| raw }}</a>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-3">
        </div>

        {# partie commentaire #}
        <div class="col-2 bloc_com"></div>
        <div class="col-10">
            <div class="bloc_titre_com">
                {# Commentaire titre #}
                <h3 id="titre_page">Commentaire :</h3>
            </div>
        </div>

        <div class="col-2"></div>

        {# Commentaire #}
        <div class="col-7">
            <div class="card_forme"> 

                {# laisser un com #}
                {% if app.user %}
                    {# form com #}
                    <div id="formCom_proto" style="display: none">
                        Laisser un commentaire : 
                        {{ form_start(form) }}
                            {{ form_row(form.contenue, {
                                label: 'contenue'
                            }) }}
                            {{ form_row(form.image, {
                                label: 'images'
                            }) }}
                            {{ form_row(form.upload, {
                                label: 'fichier'
                            }) }}

                            <button type="submit" class="btn_article2">Créer</button>
                            <button type="button" id="btnFormCom2" class="btn_article2" onclick="showFormCom()">Fermer</button>
                        {{ form_end(form) }}
                    </div>   
                    
                    <button id="btnFormCom" class="btn_article2 btn_com_proto" onclick="showFormCom()">laisser un commentaire</button> 
                {% endif %} 

                {# form update com #}
                <div id="UpdateCom_proto" style="display: none">
                    Modifier un commentaire : 
                    {{ form_start(upform) }}
                        {{ form_row(upform.contenue2, {
                            label: 'contenue'
                        }) }}
                        {{ form_row(upform.image2, {
                            label: 'images'
                        }) }}
                        {{ form_row(upform.upload2, {
                            label: 'fichier'
                        }) }}
                        {{ form_row(upform.comid) }}

                        <button type="submit" class="btn_article2">Modifier</button>
                        <button type="button" id="btnUpdateCom2" class="btn_article2" onclick="showUpdateCom()">Fermer</button>
                    {{ form_end(upform) }} 
                </div>

                {% for com in comments %}
                    {% if com.envoyer.roles[0] == 'ROLE_ADMIN'%}
                        {% set role = 'Admin' %}
                    {% elseif com.envoyer.roles[0] == 'ROLE_CONTRIBUTOR'%} 
                        {% set role = 'Contributeur' %}
                    {% else %}
                        {% set role = 'Utilisateur' %}
                    {% endif %}

                    <div class="bloc_contenue_com">
                        <div class="card mb-3 no_border" style="max-width: 1000px;" id="Com{{ com.id }}">
                            <div class="row g-0">
                                <div class="col-md-3 d-flex {# align-items-center #} justify-content-center image_dans_com">
                                    {% if com.envoyer == app.user %}
                                        <img src="data:image/png;base64,{{ base64 }}" style="max-width:100%;max-height:100%;object-fit: contain;" />
                                    {% else %}
                                        <img src="data:image/png;base64,{{ com.envoyer.avatar }}" style="max-width:100%;max-height:100%;object-fit: contain;" />
                                    {% endif %}
                                </div>
                                <div class="col-md-9 com_contenue">
                                    <div class="card-body image_dans_com">
                                        <p class="card_contenue2">le {{ com.datetime|date('d/m/Y H:i') }} <a href="pageuser{{ com.envoyer.id }}" class='name_user'>{{ com.envoyer.name }}</a> ({{ role }}) dit : </p>
                                        <div id="com_contenue_{{ com.id }}" class="card_contenue">{{ com.contenue|raw }}</div>

                                        {# affichage image com #}    
                                        {% for img in imagesCom %}
                                            {% if img.com == com %}
                                                <img src="data:image/png;base64, {{ img.image }}" style="max-width:600px;max-height:600px"> 
                                                {% if app.user %}
                                                    {% if is_granted('ROLE_ADMIN') or com.envoyer == app.user %}
                                                        <a class='btn_update{{ com.id }} btn_article2 max_with_proto' style="display: none" href="deleteimagecom_{{ img.id }}">Supprimer</a>
                                                    {% endif %}
                                                {% endif %}
                                            <br><br>
                                            {% endif %}
                                        {% endfor %}

                                        {# afficgage fichier com #}   
                                        {% for file in fichierCom %}
                                            {% if file.com == com %}
                                                <span class="card_contenue">{{ file.lien }} : </span><a href="upload/{{ file.lien }}" download='{{ file.lien }}' class="name_user">télécharger</a>
                                                {% if app.user %}
                                                    {% if is_granted('ROLE_ADMIN') or com.envoyer == app.user %}
                                                        <a class='btn_update{{ com.id }} btn_article2 max_with_proto' style="display: none" href="deletefichiercom_{{ file.lien }}" >Supprimer</a>
                                                    {% endif %}
                                                {% endif %} 
                                            <br>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>

                        {# update com #}
                        {% if app.user %}
                            {% if is_granted('ROLE_ADMIN') or com.envoyer == app.user %}
                                <a href="deletecom_com_{{ com.id }}" class="btn_article2">Supprimer</a>
                                <button id="btnUpdateCom{{ com.id }}" onclick="showUpdateCom({{ com.id }})" class="btn_article2">Modifier texte/Ajouter image</button> 
                                <button {# id="btnUpdateCom{{ com.id }}" #} onclick="showBtnComDelete({{ com.id }})" class="btn_article2">Supprimer image/fichier</button> 
                            {% endif %}
                        {% endif %}
                    </div>

                {% endfor %}
            </div>
        </div>

        <div class="col-3"></div>
        
    </div>

{# redirction si pas contrib ou admin #}
{% else %}
    <script>
        window.location.href = 'listeblog';
    </script>
{% endif %}
{% endblock %}

{% block javascripts %}
    <script>
        var visible=false;
        var visible2=false;

        //CKEDITOR.replace( 'textComment' );
        
        function showFormCom(){
            if (visible==false){
                document.getElementById("formCom_proto").style.display = "block";
                document.getElementById("background_form").style.display = "block";
                document.getElementById('btnFormCom').innerHTML = "Fermer";
                visible=true;
            }else{
                document.getElementById("formCom_proto").style.display = "none";
                document.getElementById("background_form").style.display = "none";
                document.getElementById("btnFormCom").innerHTML = "laisser un commentaire";
                visible=false;
            }
        }

        function showUpdateCom($id){
            if (visible2==false){
                document.getElementById('UpdateCom_proto').style.display = 'block';
                document.getElementById("background_form").style.display = "block";
                document.getElementById("updatecom_comid").value=$id;
                var testdata = document.getElementById("com_contenue_"+$id).innerHTML;
                CKEDITOR.instances['updatecom_contenue2'].setData(testdata);
                visible2=true;
            }else{
                document.getElementById('UpdateCom_proto').style.display = 'none';
                document.getElementById("background_form").style.display = "none";

                CKEDITOR.instances['updatecom_contenue2'].setData('');
                visible2=false;
            }
        }
        function showBtnComDelete($id){
            var btn_update = document.getElementsByClassName("btn_update"+$id);
            var lengthOfArray=btn_update.length;

            if (btn_update[0].style.display=='none'){
                for (var i=0; i<lengthOfArray;i++){
                    btn_update[i].style.display='block';
                }
            }else{
                for (var i=0; i<lengthOfArray;i++){
                    btn_update[i].style.display='none';
                }
            }
        }
    </script>
{% endblock %}
