{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}

<div class="row">

    <div class="col">
    </div>

    <div class="col-8">

        <h3 id="titre_page_article">Article de blog</h3>
        <div class="ligne"></div>

        <div id='conteneur_page'> 
            <div class="text-muted">posté par <a href="pageuser{{ blog.auteur.id }}" class='name_user'>{{ blog.auteur.name }}</a> 
            le {{ blog.datetime|date('d/m/Y H:i') }}</div>
            <h1>{{ blog.titre|raw }}</h1>
            <br>
            {{ blog.contenue|raw }}

            <div class="ligne2 conteneur_image"></div><br>

            {# affichage image #}
            <div class="row ">
            {% for img in images %}
                <div class="col-4 text-center display_image">
                    <img src="data:image/png;base64, {{ img.image }}" style="max-width:100%;max-height:100%">
                </div>
            {% endfor %}
            </div>

            {# lien vers ce jeu #}
            {% if blog.jeu %}
                <br><div class="ligne2 conteneur_image"></div><br>
                Lien du jeu :
                <a href="pagejeu{{ blog.jeu.id }}" class="name_user">{{ blog.jeu.titre }}</a>
            {% endif %}
        </div>

        <br><br>

        {# Commentaire #}
        <h3>Commentaire :</h3><br>
        {% for com in comments %}
            {% if com.envoyer.roles[0] == 'ROLE_ADMIN'%}
                {% set role = "Admin" %}
            {% elseif com.envoyer.roles[0] == 'ROLE_CONTRIBUTOR'%} 
                {% set role = "Contributeur" %}
            {% else %}
                {% set role = "Utilisateur" %}
            {% endif %}

            {# <div id="Com{{ com.id }}">
                le {{ com.datetime|date('d/m/Y H:i') }} {{ role }} <a href="pageuser{{ com.envoyer.id }}">{{ com.envoyer.name }}</a> dit : {{ com.contenue }}
            </div> #}

            <form id="UpdateCom{{ com.id }}" action="updatecom_com_{{ com.id }}" style="display: none">
                <textarea name="textComment" class="form-control" rows="3" >{{ com.contenue }}</textarea>
                
                <br><button class="btn btn-primary">Valider modification</button> 
            </form>

            <div class="card mb-3" style="max-width: 1000px;" id="Com{{ com.id }}">
                <div class="row g-0">
                    <div class="col-md-3 d-flex {# align-items-center #} justify-content-center image_dans_com">
                        {% if com.envoyer == app.user %}
                            <img src="data:image/png;base64,{{ base64 }}" style="max-width:100%;max-height:100%;object-fit: contain;" />
                        {% else %}
                            <img src="data:image/png;base64,{{ com.envoyer.avatar }}" style="max-width:100%;max-height:100%;object-fit: contain;" />
                        {% endif %}
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <p class="card-text"><small class="text-muted">le {{ com.datetime|date('d/m/Y H:i') }} <a href="pageuser{{ com.envoyer.id }}" class='name_user'>{{ com.envoyer.name }}</a> ({{ role }}) dit : </small></p>
                            <div class="card-title">{{ com.contenue }}</div>
                        </div>
                    </div>
                </div>
            </div>

            {% if app.user %}
                {% if is_granted('ROLE_ADMIN') or com.envoyer == app.user %}
                    <a href="deletecom_com_{{ com.id }}">Supprimer</a>

                    <button id="btnUpdateCom{{ com.id }}" onclick="showUpdateCom({{ com.id }})" class="btn btn-primary">Modifier</button>          
                {% endif %}
            {% endif %}
        {% endfor %}

        <br>

        {% if app.user %} 
            <form id="formCom" action="commentaire" style="display: none">
                <textarea name="textComment" class="form-control" rows="3" placeholder="plouf"></textarea>
                
                <input type="hidden" name="type" value="blog"> 
                <input type="hidden" name="pageid" value="{{ blog.id }}"> 
                
                <br><button class="btn btn-primary">envoyer</button> 
            </form> 
            
            <button id="btnFormCom" class="btn btn-primary" onclick="showFormCom()">laisser un commentaire</button> 
        {% endif %}   
    
    </div>

    <div class="col">
    </div>

</div>
{% endblock %}

{% block javascripts %}
    <script>
        var visible=false;
        var visible2=false;
        
        function showFormCom(){
            if (visible==false){
                document.getElementById("formCom").style.display = "block";
                document.getElementById('btnFormCom').innerHTML = "Fermer";
                visible=true;
            }else{
                document.getElementById("formCom").style.display = "none";
                document.getElementById("btnFormCom").innerHTML = "laisser un commentaire";
                visible=false;
            }
        }

        function showUpdateCom($id){
            if (visible2==false){
                document.getElementById("UpdateCom"+$id).style.display = "block";
                document.getElementById("Com"+$id).style.display = "none";
                document.getElementById('btnUpdateCom'+$id).innerHTML = "Fermer";
                visible2=true;
            }else{
                document.getElementById("UpdateCom"+$id).style.display = "none";
                document.getElementById("Com"+$id).style.display = "block";
                document.getElementById('btnUpdateCom'+$id).innerHTML = "Modifier";
                visible2=false;
            }
        }
    </script>
{% endblock %}
