{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
{# redirction si pas contrib ou admin #}
{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_CONTRIBUTOR') %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h3>PAGE PROTO</h3>

        {# proto contenue #}
        le {{ proto.datetime|date('d/m/Y H:i') }}
        <br>
        <h1>{{ proto.titre| raw }}</h1>
        <br>
        {{ proto.contenue| raw }}
        <br>

        {# image proto #}
        {% for img in images %}
            <img src="data:image/png;base64, {{ img.image }}" style="max-width:600px;max-height:600px">
            <br><br>
        {% endfor %}

        <br><br><br>

        {% if listecontrib %}
        {# contributeur #}
            <h3>Liste des contributeurs :</h3>
            {% set contributeurProjet = false %}
            {% for contrib in listecontrib %}
                <a href="pageuser{{ contrib.user.id }}">{{ contrib.user.name }}</a>

                {% set testimage = contrib.user.avatar %}

                {% if testimage %}
                    <img src="data:image/png;base64,{{ testimage }}" width='60px' height='60px' />
                {% endif %}

                <br><br>
                {# rejoindre le projet si pas deja dedant #}
                {% if contrib.user == app.user %}
                    {% set contributeurProjet = true %}
                {% endif %}
            {% endfor %}
            {% if contributeurProjet == false %}
                devenir contributeur sur le projet : <a href="newcontrib{{ proto.id }}">{{ proto.titre| raw }}</a>
            {% endif %}
        {% endif %}

        <br><br><br>

        {# commentaire #}
        <h3>Commentaire :</h3>
        {% for com in comments %}
            {% if com.envoyer.roles[0] == 'ROLE_ADMIN'%}
                {% set role = 'Admin' %}
            {% elseif com.envoyer.roles[0] == 'ROLE_CONTRIBUTOR'%} 
                {% set role = 'Contributeur' %}
            {% else %}
                {% set role = 'Utilisateur' %}
            {% endif %}

            <div id="Com{{ com.id }}">
                le {{ com.datetime|date('d/m/Y H:i') }} {{ role }} <a href="pageuser{{ com.envoyer.id }}">{{ com.envoyer.name }}</a> dit : 
                <span id='com_contenue_{{ com.id }}'>{{ com.contenue| raw }}</span>
            </div>    

            {# affichage image com #}    
            {% for img in imagesCom %}
                {% if img.com == com %}
                    <img src="data:image/png;base64, {{ img.image }}" style="max-width:600px;max-height:600px"> 
                    {% if app.user %}
                        {% if is_granted('ROLE_ADMIN') or com.envoyer == app.user %}
                            <a class='btn_update{{ com.id }}' style="display: none" href="deleteimagecom_{{ img.id }}">Supprimer</a>
                        {% endif %}
                    {% endif %}
                <br><br>
                {% endif %}
            {% endfor %}

            {# afficgage fichier com #}   
            {% for file in fichierCom %}
                {% if file.com == com %}
                    {{ file.lien }} : <a href="upload/{{ file.lien }}" download='{{ file.lien }}'>télécharger</a>
                    {% if app.user %}
                        {% if is_granted('ROLE_ADMIN') or com.envoyer == app.user %}
                            <a class='btn_update{{ com.id }}' style="display: none" href="deletefichiercom_{{ file.lien }}" >Supprimer</a>
                        {% endif %}
                    {% endif %} 
                <br>
                {% endif %}
            {% endfor %}
            
            {# update com #}
            {% if app.user %}
                {% if is_granted('ROLE_ADMIN') or com.envoyer == app.user %}
                    <a href="deletecom_com_{{ com.id }}">Supprimer</a>

                    <button id="btnUpdateCom{{ com.id }}" onclick="showUpdateCom({{ com.id }})">Modifier</button> 
                {% endif %}
            {% endif %}
            <br><br><br>

        {% endfor %}

        {# form update com #}
        <div id="UpdateCom" style="display: none">
            {{ form_start(upform) }}
                {{ form_row(upform.contenue2, {
                    label: 'contenue'
                }) }}
                {{ form_row(upform.image2, {
                    label: 'images'
                }) }}
                {{ form_row(upform.upload2, {
                    label: 'fichier'
                }) }}
                {{ form_row(upform.comid) }}

                <button type="submit" class="btn">Créer</button>
            {{ form_end(upform) }} 
        </div>

        {% if app.user %}
            {# form com #}
            <div id="formCom" style="display: none">
                {{ form_start(form) }}
                    {{ form_row(form.contenue, {
                        label: 'contenue'
                    }) }}
                    {{ form_row(form.image, {
                        label: 'images'
                    }) }}
                    {{ form_row(form.upload, {
                        label: 'fichier'
                    }) }}

                    <button type="submit" class="btn">Créer</button>
                {{ form_end(form) }}
            </div>   
            
            <button id="btnFormCom" class="btn btn-light" onclick="showFormCom()">laisser un commentaire</button> 
        {% endif %} 

    </div>
{% else %}
    <script>
        window.location.href = 'listeblog';
    </script>
{% endif %}
{% endblock %}

{% block javascripts %}
    <script>
        var visible=false;
        var visible2=false;

        //CKEDITOR.replace( 'textComment' );
        
        function showFormCom(){
            if (visible==false){
                document.getElementById("formCom").style.display = "block";
                document.getElementById('btnFormCom').innerHTML = "Fermer";
                visible=true;
            }else{
                document.getElementById("formCom").style.display = "none";
                document.getElementById("btnFormCom").innerHTML = "laisser un commentaire";
                visible=false;
            }
        }

        function showUpdateCom($id){
            if (visible2==false){
                document.getElementById('UpdateCom').style.display = 'block';

                document.getElementById('btnUpdateCom'+$id).innerHTML = "Fermer";
                document.getElementById("updatecom_comid").value = $id;
                var testdata = document.getElementById("com_contenue_"+$id).innerHTML;
                CKEDITOR.instances['updatecom_contenue2'].setData(testdata);
                var btn_update = document.getElementsByClassName("btn_update"+$id);
                var lengthOfArray=btn_update.length;

                for (var i=0; i<lengthOfArray;i++){
                    btn_update[i].style.display='block';
                }
                visible2=true;
            }else{
                document.getElementById('UpdateCom').style.display = 'none';

                document.getElementById('btnUpdateCom'+$id).innerHTML = "Modifier";
                document.getElementById("updatecom_comid").value = "";
                CKEDITOR.instances['updatecom_contenue2'].setData('');
                var btn_update = document.getElementsByClassName("btn_update"+$id);
                var lengthOfArray=btn_update.length;

                for (var i=0; i<lengthOfArray;i++){
                    btn_update[i].style.display='none';
                }
                visible2=false;
            }
        }
    </script>
{% endblock %}
