{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="example-wrapper">
    <h3>PAGE BLOG</h3>

    poster par <a href="pageuser{{ blog.auteur.id }}">{{ blog.auteur.name }}</a>
    le {{ blog.datetime|date('d/m/Y H:i') }}
    <br>
    <h1>{{ blog.titre| raw }}</h1>
    <br>
    {{ blog.contenue| raw }}
    <br>

    {% for img in images %}
        <img src="data:image/png;base64, {{ img.image }}">
        <br><br>
    {% endfor %}

    <br><br>
    {# liste des blogs sur ce jeu #}
    {% if blog.jeu %}
        lien du jeu :
        <a href="pagejeu{{ blog.jeu.id }}">{{ blog.jeu.titre }}</a>
    {% endif %}

    <br><br><br>

    {# Commentaire #}
    <h3>Commentaire :</h3>
    {% for com in comments %}
        le {{ com.datetime|date('d/m/Y H:i') }} <a href="pageuser{{ com.envoyer.id }}">{{ com.envoyer.name }}</a> dit : {{ com.contenue }}
        <br><br>
    {% endfor %}

    {% if app.user %}
        <button id="btnFormCom" class="btn btn-light" onclick="showFormCom()">laisser un commentaire</button> 

        <form id="formCom" action="commentaire" style="display: none">
            <textarea name="textComment" class="form-control" rows="3" placeholder="plouf"></textarea>
            
            <input type="hidden" name="type" value="blog"> 
            <input type="hidden" name="pageid" value="{{ blog.id }}"> 
            
            <br><button class="btn btn-light">envoyer</button> 
        </form>   
    {% endif %}   
 
</div>
{% endblock %}

{% block javascripts %}
    <script>
        var visible=false;
        
        function showFormCom(){
            if (visible==false){
                document.getElementById("formCom").style.display = "block";
                visible=true;
            }else{
                document.getElementById("formCom").style.display = "none";
                visible=false;
            }
        }
    </script>
{% endblock %}
