{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
{# redirction si pas contrib ou admin #}
{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_CONTRIBUTOR') %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h3>PAGE PROTO</h3>

        le {{ proto.datetime|date('d/m/Y H:i') }}
        <br>
        <h1>{{ proto.titre| raw }}</h1>
        <br>
        {{ proto.contenue| raw }}
        <br>

        {% for img in images %}
            <img src="data:image/png;base64, {{ img.image }}" width='600px' height='600px'>
            <br><br>
        {% endfor %}

        <br><br><br>

        {% if listecontrib %}
        {# contributeur #}
            <h3>Liste des contributeurs :</h3>
            {% set contributeurProjet = false %}
            {% for contrib in listecontrib %}
                <a href="pageuser{{ contrib.user.id }}">{{ contrib.user.name }}</a>

                {% set testimage = contrib.user.avatar %}

                {% if testimage %}
                    <img src="data:image/png;base64,{{ testimage }}" width='60px' height='60px' />
                {% endif %}

                <br><br>
                {# rejoindre le projet si pas deja dedant #}
                {% if contrib.user == app.user %}
                    {% set contributeurProjet = true %}
                {% endif %}
            {% endfor %}
            {% if contributeurProjet == false %}
                devenir contributeur sur le projet : <a href="newcontrib{{ proto.id }}">{{ proto.titre| raw }}</a>
            {% endif %}
        {% endif %}

        <br><br><br>

        {# commentaire #}
        <h3>Commentaire :</h3>
        {% for com in comments %}
            le {{ com.datetime|date('d/m/Y H:i') }} <a href="pageuser{{ com.envoyer.id }}">{{ com.envoyer.name }}</a> dit : {{ com.contenue }}
            <br><br>
        {% endfor %}

        {% if app.user %}
            <button id="btnFormCom" class="btn btn-light" onclick="showFormCom()">laisser un commentaire</button> 

            <form id="formCom" action="commentaire" style="display: none">
                <textarea name="textComment" class="form-control" rows="3" placeholder="plouf"></textarea>
                
                <input type="hidden" name="type" value="proto"> 
                <input type="hidden" name="pageid" value="{{ proto.id }}"> 
                
                <br><button class="btn btn-light">envoyer</button> 
            </form>   
        {% endif %} 

    </div>
{% else %}
    <script>
        window.location.href = 'listeblog';
    </script>
{% endif %}
{% endblock %}

{% block javascripts %}
    <script>
        var visible=false;
        
        function showFormCom(){
            if (visible==false){
                document.getElementById("formCom").style.display = "block";
                visible=true;
            }else{
                document.getElementById("formCom").style.display = "none";
                visible=false;
            }
        }
    </script>
{% endblock %}
