{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h2>vous modifier le {{ type }} : {{ page.titre }}</h2>
    <br>

    {{ form_start(form) }}
        {{ form_row(form.titre, {
            label: 'Titre de la page : '
        }) }}
        {{ form_row(form.contenue, {
            label: 'Contenue de la page : '
        }) }}
        {{ form_row(form.mainimage, {
            label: 'Image principal : '
        }) }}

        {% if type == 'blog' %}
            {{ form_row(form.type, {
                label: 'Type : '
            }) }}
            {{ form_row(form.jeu, {
                label: 'Jeu liée a ce blog : '
            }) }}
        {% endif %}

        {% if type == 'jeu' %}
            {{ form_row(form.etat, {
                label: 'Etat actuelle : '
            }) }}
            {{ form_row(form.fileWeb, {
                label: 'Zip du jeu pour le web : '
            }) }}
            {{ form_row(form.fileDl, {
                label: 'Zip du jeu téléchargement : '
            }) }}
            {{ form_row(form.nomdossier, {
                label: 'Nom du dossier dans le zip : '
            }) }}
            {{ form_row(form.longueur, {
                label: 'Longueur de la fenetre du jeu (en pixel) : '
            }) }}
            {{ form_row(form.largeur, {
                label: 'Largeur de la fenetre du jeu (en pixel) : '
            }) }}
        {% endif %}

        {{ form_row(form.image, {
            label: 'Images : '
        }) }}
        
        <button type="submit" class="btn">Modifier</button>
    {{ form_end(form) }}

    {% if images %}
        <br>
        image actuelle :
        <br>
        {% for img in images %}
            <img src="data:image/png;base64, {{ img.image }}" style="max-width:600px;max-height:600px">
            <a href="deleteimage_{{ type }}_{{ page.id }}_{{ img.id }}" >Supprimer</a>
            <br><br>
        {% endfor %}
    {% endif %}

</div>
{% endblock %}
