{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h3>PAGE USER</h3>

        <h1>{{ user.name }}</h1>
        {% if user.roles[0] == 'ROLE_ADMIN'%}
            <h3>Admin</h3>
        {% elseif user.roles[0] == 'ROLE_CONTRIBUTOR'%} 
            <h3>Contributeur</h3>
        {% else %}
            <h3>Utilisateur</h3>
        {% endif %}


        {% set testimage = user.avatar %}

        {% if testimage %}
            <img src="data:image/png;base64,{{ testimage }}" width='60px' height='60px' />
        {% endif %}

        <br>
        
        inscrit depuis le {{ user.dateinscrip|date('d/m/Y') }}

        <br><br>

        {# liste des competence de user #}
        {% if user.roles[0] == 'ROLE_ADMIN' or user.roles[0] == 'ROLE_CONTRIBUTOR' %}
            {% if competences %}
                liste des compétences :<br>
                {% for competence in competences %} 
                    {{ competence.competence.nom }}<br>
                {% endfor %}
            {% endif %}
        
            {# ajouter competence #}
            {% if user == app.user %}
            <button id="btnFormCom" class="btn btn-light" onclick="showFormCom()">ajouter une competence</button> 
            
            <form id="formCom" action="competence" style="display: none">
                <select name="newCompetence">
                    <option value="null" disabled selected>choisir une competence</option>
                    {% for typecompetence in typeCompetences %} 

                        {% set dejaCompetent = false %}

                        {% for competence in competences %} 
                            {% if typecompetence == competence.competence %}
                                {% set dejaCompetent = true %}
                            {% endif %}
                        {% endfor %}

                        {% if dejaCompetent == false %}
                            <option value={{ typecompetence.id }}>{{ typecompetence.nom }}</option>
                        {% endif %}

                    {% endfor %}
                </select>
                <br><button class="btn btn-light">envoyer</button> 
            </form>   
            {% endif %}
        {% endif %}

        <br><br>

        {# messagerie#}
        {% if app.user %}
            {# user sur sa propre page #}
            {% if user.id == app.user.id %}
                <h3>liste des conversation :</h3>
                {% for personne in personnes %} 
                    <a href="pagemessagerie{{ personne.id }}"><span> {{ personne.name }} </span></a><br>
                {% endfor %}
            {# user sur une autre page #}
            {% else %}
                <a href="pagemessagerie{{ user.id }}">envoyer un message privée a {{ user.name }}</a><br><br>
            {% endif %}
        {% endif %}

        {# liste des blogs #}
        {% if blogs %}
            liste des blogs écrit :<br>
            {% for blog in blogs %}
                <a href="pageblog{{ blog.id }}">le {{ blog.datetime|date('d/m/Y H:i') }} : {{ blog.titre }}</a>
                <br>
            {% endfor %}
        {% endif %}

        <br>

        {# liste des jeux #}
        {% if contribs %}
            a participer sur ces jeux :<br>
            {% for contrib in contribs %}
                <a href="pagejeu{{ contrib.jeu.id }}">{{ contrib.jeu.titre }} / upvote:{{ contrib.jeu.upvote }} / {{ contrib.jeu.etat }}</a>
                <br>
            {% endfor %}
        {% endif %}

    </div>
{% endblock %}

{% block javascripts %}
    <script>
        var visible=false;
        
        function showFormCom(){
            if (visible==false){
                document.getElementById("formCom").style.display = "block";
                visible=true;
            }else{
                document.getElementById("formCom").style.display = "none";
                visible=false;
            }
        }
    </script>
{% endblock %}
