{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="example-wrapper">
    <h3>PAGE BLOG</h3>

    poster par <a href="pageuser{{ blog.auteur.id }}">{{ blog.auteur.name }}</a>
    le {{ blog.datetime|date('d/m/Y H:i') }}
    <br>
    <h1>{{ blog.titre| raw }}</h1>
    <br>
    {{ blog.contenue| raw }}
    <br>

    {% for img in images %}
        <img src="data:image/png;base64, {{ img.image }}" style="max-width:600px;max-height:600px">
        <br><br>
    {% endfor %}

    <br><br>
    {# liste des blogs sur ce jeu #}
    {% if blog.jeu %}
        lien du jeu :
        <a href="pagejeu{{ blog.jeu.id }}">{{ blog.jeu.titre }}</a>
    {% endif %}

    <br><br><br>

    {# Commentaire #}
    <h3>Commentaire :</h3>
    {% for com in comments %}
        {% if com.envoyer.roles[0] == 'ROLE_ADMIN'%}
            {% set role = 'Admin' %}
        {% elseif com.envoyer.roles[0] == 'ROLE_CONTRIBUTOR'%} 
            {% set role = 'Contributeur' %}
        {% else %}
            {% set role = 'Utilisateur' %}
        {% endif %}

        <div id="Com{{ com.id }}">
            le {{ com.datetime|date('d/m/Y H:i') }} {{ role }} <a href="pageuser{{ com.envoyer.id }}">{{ com.envoyer.name }}</a> dit : {{ com.contenue }}
        </div>

        <form id="UpdateCom{{ com.id }}" action="updatecom{{ com.id }}" style="display: none">
            <textarea name="textComment" class="form-control" rows="3" >{{ com.contenue }}</textarea>
            
            <br><button class="btn btn-light">Valider modification</button> 
        </form>

        {% if app.user %}
            {% if is_granted('ROLE_ADMIN') or com.envoyer == app.user %}
                <a href="deletecom">Supprimer</a>

                <button id="btnUpdateCom{{ com.id }}" onclick="showUpdateCom({{ com.id }})">Modifier</button>          
            {% endif %}
        {% endif %}
        <br><br>
    {% endfor %}

    {% if app.user %} 
        <form id="formCom" action="commentaire" style="display: none">
            <textarea name="textComment" class="form-control" rows="3" placeholder="plouf"></textarea>
            
            <input type="hidden" name="type" value="blog"> 
            <input type="hidden" name="pageid" value="{{ blog.id }}"> 
            
            <br><button class="btn btn-light">envoyer</button> 
        </form> 
        
        <button id="btnFormCom" class="btn btn-light" onclick="showFormCom()">laisser un commentaire</button> 
    {% endif %}   
 
</div>
{% endblock %}

{% block javascripts %}
    <script>
        var visible=false;
        var visible2=false;
        
        function showFormCom(){
            if (visible==false){
                document.getElementById("formCom").style.display = "block";
                document.getElementById('btnFormCom').innerHTML = "Fermer";
                visible=true;
            }else{
                document.getElementById("formCom").style.display = "none";
                document.getElementById("btnFormCom").innerHTML = "laisser un commentaire";
                visible=false;
            }
        }

        function showUpdateCom($id){
            if (visible2==false){
                document.getElementById("UpdateCom"+$id).style.display = "block";
                document.getElementById("Com"+$id).style.display = "none";
                document.getElementById('btnUpdateCom'+$id).innerHTML = "Fermer";
                visible2=true;
            }else{
                document.getElementById("UpdateCom"+$id).style.display = "none";
                document.getElementById("Com"+$id).style.display = "block";
                document.getElementById('btnUpdateCom'+$id).innerHTML = "Modifier";
                visible2=false;
            }
        }
    </script>
{% endblock %}
